{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}
<!-- templates/sections/custom-section.liquid -->
<!-- templates/sections/custom-section.liquid -->
{% schema %}
{
  "name": "Sección personalizada",
  "settings": [
    {
      "type": "collection",
      "id": "collection_id",
      "label": "Seleccione una colección"
    },
    {
      "type": "number",
      "id": "products_to_show",
      "label": "Número de productos a mostrar",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Imagen del slideshow",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sección personalizada",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .custom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-x: hidden;
  }

  .slideshow {
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }
  .container-slider {
    min-width: 38%;
    position: relative;
    display: flex;
    justify-content:center;
  }
  .slideshow img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
  }
  .products {
    min-width: 75%;
    overflow-x: scroll;
    display: flex;
    gap: 2.25rem;
  }
  .product {
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .product span {
    width: fit-content;
    border-radius: 100%;
    background-color: #cbe346;
    color: #fff;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    font-style: bold;
    margin: 0;
    font-size: 1.2rem;
  }
  .product img {
    width: 100%;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
  }
  .button-slider {
    background-color: #cbe346;
    color: white;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .buttons-container {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    z-index: 20;
    align-items: center;
  }
  .white-button {
    display: flex;
    background-color: #fff6;
    text-decoration: none;
    width: 1rem;
    height: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color:transparent;
  }
  .nav-buttons-container{
    display:flex;
    align-items:center;
    gap:1rem;
  }
  .title-slider{
    display:flex;
    position:absolute;
    top:20%;
  }
  .description-slider{
    display:flex;
    position:absolute;
    top:40%;
  }
{% endstylesheet %}

<div class="custom-section">
  <div class="container-slider">
    <div class="slideshow">
      {% for block in section.blocks %}
        <img
          id="image-slider-{{ forloop.index }}"
          src="{{ block.settings.image | img_url: '400x400' }}"
          alt="{{ block.id }}"
        />
      {% endfor %}
    </div>
    <div class="buttons-container">
      <h3 class="title-slider">Title</h3>
      <p class="description-slider">description</p>
      <a href="#1" class="button-slider"> <span>&#x2B9C;</span> </a>
      <div class="nav-buttons-container">
        {% for block in section.blocks %}
          <a href="#image-slider-{{ forloop.index }}" class="white-button">.</a>
        {% endfor %}
      </div>
      <a href="#2" class="button-slider"> <span>&#x2B9E;</span> </a>
    </div>
  </div>
  <div class="products">
    {% assign products = collections[section.settings.collection_id].products %}
    {% for product in products limit: section.settings.products_to_show %}
      <div class="product">
        <span>{{ forloop.index }}</span>
        <img src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}"/>
      </div>
    {% endfor %}
  </div>
</div>
